.home{
  &--title{
    font-size: 30px;
    font-weight: 700;
    color: #C8001A;
    text-align: center;
    padding-top: 40px;
  }

  &--content{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
  }
}